{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<!--<div class="date">
        {% if post.publish_date %}
            {{ post.publish_date|date:"Y-m-d H:i" }}
        {% else %}
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">发表</a>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                <span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
                <span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
    </div>

	<h1>{{ post.caption}}</h1>
        
    <p>{{ post.content|linebreaks }}</p>-->
        <div class="post">
        <h2>{{ post.caption }}</h2>

        <div class="info">
            {% if post.publish_date %}
                <span class="date">{{ post.publish_date|date:'Y年m月d日' }}</span>
            {% else %}
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}"
                       onclick="return confirm('确定发布文章吗？');">发布</a>
                {% endif %}
            {% endif %}
            
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"
                   onclick="return confirm('确定删除文章吗？');">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            {% endif %}
            <div class="fixed"></div>
        </div>
        <div class="content">
            <p>
                {% autoescape off %}
                    {{ post.content }}
                {% endautoescape %}
            </p>
        </div>
{% endblock %}